/* styles.css */
.user-bar {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: right;
}

.user-info {
    font-size: 18px;
}

.centered-buttons {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-buttons h2 {
    background-color: #ff0000;
    color: white;
    border-radius: 0px;
    padding: 0px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.centered-buttons a {
    margin: 10px;
    padding: 0;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0px 0; /* Snížení výšky tlačítka (změna v této řádce) */
    cursor: pointer;
}


/* Styly pro tabulku s uživateli */
table {
    width: 100%; /* Roztáhne tabulku na celou šířku obsahu */
    border-collapse: collapse; /* Sloučí okraje buněk */
    margin-top: 20px; /* Vertikální odsazení od nadpisu */
}

table, th, td {
    border: 1px solid #ccc; /* Ohraničení buněk */
    text-align: center; /* Zarovnání textu na střed buněk */
    padding: 8px; /* Vnitřní odsazení buněk */
}

th {
    background-color: #FF5733; /* Barva pozadí pro hlavičku tabulky */
    color: white;
}
.user-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* Stylizace tlačítka pro smazání */
.delete-button {
    background-color: #ff0000; /* Červená barva pozadí */
    color: #fff; /* Bílá barva textu */
    border: none;
    padding: 5px 8px; /* Zmenšeno o 2px v šířce */
    cursor: pointer;
    margin: auto auto; /* Zarovnání na střed horizontálně a vertikálně */
    display: block; /* Zobrazit tlačítko jako blokový prvek */
    border-radius: 5px;

}

/* Stylizace hlavičky tabulky */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ff0000; /* Červená barva pozadí pro hlavičku */
    color: #fff; /* Bílá barva textu pro hlavičku */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Zarovnání tlačítek na střed */
.button-cell {
    text-align: center;
}

.edit-button {
    background-color: #007bff; /* Modrá barva pozadí */
    color: #fff; /* Bílá barva textu */
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    margin: auto auto;
    display: block;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #0056b3; /* Barva pozadí při najetí myší */
}

.error-message {
    background-color: yellow; /* Žluté pozadí */
    color: red; /* Červená barva textu */
    padding: 10px; /* Vnitřní odsazení pro zlepšení vzhledu */
    margin-top: 10px; /* Odsazení od nadřazeného obsahu */
    border: 1px solid #ffcc00; /* Rámeček kolem chybové zprávy */
    border-radius: 5px; /* Zaoblené rohy */
    font-weight: bold; /* Tučné písmo */
}

.logout-button {
    background-color: red; /* Červená barva pozadí tlačítka */
    color: white; /* Bílý text na tlačítku */
    border: none; /* Bez okraje */
    padding: 10px 20px; /* Vnější okraje tlačítka */
    cursor: pointer; /* Ukazatel ruky na hover (pro interaktivitu) */
    margin-left: 10px; /* Odsazení tlačítka od levého okraje */
    font-family: Arial, sans-serif; /* Použití fontu Arial nebo sans-serif, pokud Arial není k dispozici */
    font-size: 16px; /* Velikost písma 16px (upravte podle svých preferencí) */
    font-weight: bold; /* Tučný text */
}

.system-button {
    background-color: red; /* Červená barva pozadí tlačítka */
    color: white; /* Bílý text na tlačítku */
    padding: 10px 20px; /* Vnější okraje tlačítka */
    border: none; /* Bez okraje */
    border-radius: 5px; /* Zaoblené rohy */
    text-decoration: none; /* Odstranění podtržení odkazu */
    margin-right: 20px;
    
    /* Zarovnání tlačítka doleva */
    float: left;
}

.system-button:hover {
    background-color: darkred; /* Červená barva pozadí při najetí myší */
}