/* styles.css */
.user-bar {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: right;
}

.user-info {
    font-size: 18px;
}

.centered-buttons {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-buttons h2 {
    background-color: #ff0000;
    color: white;
    border-radius: 0px;
    padding: 0px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.centered-buttons a {
    margin: 10px;
    padding: 0;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0px 0; 
    cursor: pointer;
}


table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc; 
    text-align: center; 
    padding: 8px; 
}

th {
    background-color: #FF5733; 
    color: white;
}
.user-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}


.delete-button {
    background-color: #ff0000; 
    color: #fff;
    border: none;
    padding: 5px 8px; 
    cursor: pointer;
    margin: auto auto; 
    display: block; 
    border-radius: 5px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ff0000; 
    color: #fff; 
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.button-cell {
    text-align: center;
}

.edit-button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    margin: auto auto;
    display: block;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #0056b3;
}

.error-message {
    background-color: yellow; 
    color: red; 
    padding: 10px; 
    margin-top: 10px; 
    border: 1px solid #ffcc00; 
    border-radius: 5px; 
    font-weight: bold; 
}

.logout-button {
    background-color: red; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
    margin-left: 10px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold;
}

.system-button {
    background-color: red; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    text-decoration: none; 
    margin-right: 20px;
    

    float: left;
}

.system-button:hover {
    background-color: darkred;
}

input[type="text"],
textarea {
    max-width: 250px; 
    text-align: left;
}